PORT=
NODE_ENV=

DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

LOG_LEVEL=

PRISMA_LOG_QUERIES=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=

CLIENT_URL=